<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/art.css">
    <style>
        form {
            width:30%;
            margin:0 auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Blog用户管理</h1>
</header>
<div id="main">
    <div id="respond" class="comment-respond">
        <form action="#" method="post">
            <p>*为必填项
            </p>
            <p>
                <input placeholder="*请输入用户名" name="username" type="text" value="" size="30">
            </p>
            <p>
                <input placeholder="*请输入密码" name="password" type="password" value="" size="30">
            </p>
            <p>
                <input placeholder="*请再次输入密码" name="pwd_again" type="password" value="" size="30">
            </p>
            <p><input type="submit" name="submit" value="提交修改"></p>
        </form>
    </div>
</div>
<footer>
    Copyright &copy; 2015 · GeneratePress · WordPress
</footer>
</body>
</html>